.header-container{
    background-color: #1F2937;
    padding:15px 80px 80px 80px;
}
.header{
    display: flex;
}
.header h1{
    font-size: 24px;
    color: #f9faf8;
}
.header ul{
    margin-left: auto;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
}
li{
    list-style-type:none;
}
.awesome{
    display:flex;
    justify-content: center;
}
.awesome-container{
    width: 350px;
}
.placeholder{
    width: 350px;
   display: flex;
    flex: 1 1 auto;
    color: #e5e7eb;
    font-size: 18px;
    background-color: rgba(169, 169, 169, 0.767);
    height: auto;  
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.awesome p{
    text-align: left;
    font-size: 18px;
    color:#e5e7eb;
}
.awesome h2{
    color:#f9faf8;
    font-size:48px;
    
    border: 1px solid red;
}
.awesome button{
    color: white;
    background-color: blue;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    gap: 20px;

}
.subtext div{
    border: 3px solid blue;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.subtext p{
    width: 150px;
    text-align: center;
}
#random{
    text-align: center;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-direction: column;
    height: 200px;
}
blockquote{
    width: 1000px;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 5px;
}
.quote div{
    width: 1000px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
.foot-wrapper{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.foot{
    display: flex;
    box-sizing: border-box;
    width: 80%;
    background-color: rgba(45, 48, 228, 0.705);
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
    color: white;
    border-radius:5px;
}
.foot button{
    background-color: rgba(105, 107, 234, 0.5);
    padding:2px 25px;
    border-radius: 10px;
}
.footer{
    background-color:#1F2937;
    height: 30px;
    color: white;
}
.footer small{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 7px;
}